<html>
<head>
<style>
img {
  margin-left: 140px;
    width: 425px;
    height: 86px;
}
</style>
<title>Reset Password</title>
</head>
<body>

<img src="" alt="" width="500" height="333"  >

<p>Hi  <%= FirstName %> <%= LastName %>,
</p>
<p>We received a request to reset your password for your account</P>
<p>
Please <a href="<%= Link %>">click here</a> to reset your password:</p>

<p>
If this request is not raised by you, please ignore this email</P>

<p>
If you suspect someone else is trying to gain access to your account, please contact us at customer-care@intelliflow.io </P>


<p>
Thanks you,</p>

</body>
</html>

